.wrapper{}

.container {
  width: 160px;
  height: 158px;
  border: 1px solid black;
  background-color: black;
}

.box {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: white;
  margin-bottom: 3px;
}
